<html lang="en">
  <head>
    <%- include("partials/head") %>>
    <title>Login</title>
  </head>
  <body
    class="h-screen overflow-hidden px-5 flex text-center items-center justify-center bg-[url('../authorize-bg.jpg')] bg-cover bg-center"
  >
    <div class="relative ">
      <div
        class="relative container m-auto  text-gray-500  "
      >
        <div class="m-auto md:w-8/12  lg:w-6/12 xl:w-6/12">
          <div class="rounded-xl h-fit bg-white/90 shadow-xl">
            <div class="p-6 mx-auto sm:p-16">
              <div class="mx-auto">
                <img
                  src="../logo.png"
                  loading="lazy"
                  class="w-1/3 mx-auto"
                  alt="tailus logo"
                />
                <h1 class=" text-xl mt-2 text-cyan-900 font-bold">
                  Awesome menus
                </h1>
                    are waiting for you

              </div>
              <div class="mt-16 flex flex-col justify-center  space-y-4">
                <a href="/google" class="mb-5 mx-auto">
                  <button
                    class="group h-12 pl-6 pr-10 border-2 border-black rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100"
                  >
                    <div
                      class="relative flex items-center space-x-4 justify-center"
                    >
                      <img
                        src="https://tailus.io/sources/blocks/social/preview/images/google.svg"
                        class="absolute -left-3 w-5"
                        alt="google logo"
                      />
                      <span
                        class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base"
                        >Continue with Google</span
                      >
                    </div>
                  </button>
                </a>

                <a href="/facebook " class="mx-auto">
                  <button
                    class="group h-12 px-6 border-2 border-black rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100"
                  >
                    <div
                      class="relative flex items-center space-x-4 justify-center"
                    >
                      <img
                        src="https://upload.wikimedia.org/wikipedia/en/0/04/Facebook_f_logo_%282021%29.svg "
                        class="absolute -left-3 mr-5 w-5"
                        alt="Facebook logo"
                      />
                      <span
                        class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base"
                        >Continue with Facebook</span
                      >
                    </div>
                  </button>
                </a>
              </div>

              <div class="mt-32 space-y-4 text-gray-600 text-center sm:-mb-8">
                <p class="text-xs">
                  By proceeding, you agree to our
                  <a href="#" class="underline">Terms of Use</a> and confirm you
                  have read our
                  <a href="#" class="underline">Privacy and Cookie Statement</a
                  >.
                </p>
                <p class="text-xs">
                  This site is protected by reCAPTCHA and the
                  <a href="#" class="underline">Google Privacy Policy</a> and
                  <a href="#" class="underline">Terms of Service</a> apply.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
