<!DOCTYPE html>
<html lang="en">
  <head>
        <%- include("partials/head") %>

    <title>Starters</title>
  </head>
  <body class="">
    <div
      class="bg-[url('../plate.png')]  bg-black/50 backdrop-brightness-50 bg-blend-darken max-h-full min-h-screen bg-cover"
    >
      <!-- <div class="h-screen w-screen bg-black/20  absolute "></div> -->
      <navbar class="flex items-center justify-between sm:pl-24 px-5 sm:px-10 py-5 z-10">
        <img src="../logo.png" alt="" srcset="" class="max-h-10  z-10" />
        <a
          href="./authorize"
          class="text-white font-medium text-lg tracking-wider z-10 hover:text-red-600"
        >
          

            Login
          
          
        </a>
      </navbar>
      <div class="text-white sm:text-left text-center sm:pl-24 mt-28 px-5 pt-auto sm:pt-32 z-10">
        <div class="sm:text-6xl text-5xl mt-auto z-10 tracking-wide">
          <p class="z-20 font-extrabold">Digitize</p>
          <p class="z-20 font-extrabold">your menus now</p>
        </div>
        
        
        <button
          
          class="rounded-lg text-3xl mt-16 text-black font-bold bg-red-600 px-3 pt-1 pb-2 z-10 hover:text-red-600  hover:bg-black"
        >
          <a href="./authorize">
            Create Menu

          </a>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="z-10 inline w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z"
            />
          </svg>
        </button>
      </div>
    </div>
  </body>
</html>
