<html>
  <head>
    <%- include("partials/head") %>

  </head>
  <body>
    <div>
      <div class="px-4 sm:px-8 lg:px-16 xl:px-20 mx-auto">


        <%- include("partials/my-menus/menu-top-section") %>
        <%- include("partials/my-menus/menu-bottom-section",{menus:menus}) %>

        
      </div>
    </div>
  </body>
</html>
