<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>

    <title>Add Menu</title>
  </head>
  <body>
    <div class="flex justify-center mt-10">
      <h1
        class="text-4xl underline underline-offset-8 decoration-3 decoration-teal-500 font-bold"
      >
        Create Menu
      </h1>
    </div>
    <div class="mt-16 mx-28">
      <form action="/menus/create" enctype="multipart/form-data" method="post">
        <div class="relative z-0 w-full mb-6 group peer">
          <input
            type="text"
            name="menu-name"
            id="menu-name"
            class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-b-2 rounded-md border-gray-600 appearance-none focus:outline-none focus:ring-0 focus:border-teal-500 peer"
            required
          />
          <label
            for="menu-name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform left-1/2 scale-100 top-3 -z-10 origin-[0] peer peer-focus:left-0 peer-focus:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-90 peer-focus:-translate-y-6"
            >Menu name</label
          >
          <!-- text-center peer-focus:font-medium absolute left-1/2 text-sm text-gray-500 duration-700 transform scale-100 top-3 origin-[0] -z-10 peer peer-focus:-left-2/4 peer-focus:text-teal-500 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" -->
        </div>

        <div class="mb-10 mt-20 border-2 rounded-md border-gray-400 px-5 py-3">
          <label
            class="block mb-2 hover:text-teal-500 text-sm font-medium text-gray-900"
            for="large_size"
            >Upload image</label
          >
          <input
            class="block w-full mt-6 hover:text-teal-500 active:hover:text-teal-500 text-lg text-gray-900 border-2 border-gray-500 pl-0 rounded-lg cursor-pointer bg-gray-50 focus:outline-none hover:cursor-pointer"
            id="image"
            name="image"
            type="file"
            required
          />
          <p
            class="mt-1 text-sm text-gray-500 hover:text-teal-500"
            id="file_input_help"
          >
            SVG, PNG or JPG(MAX. 800x400px).
          </p>
        </div>
        <div
          id="categories-container"
          class="grid md:grid-cols-1 mb-6 md:gap-6"
        >
          <div class="border-2 rounded-md border-gray-400 mt-10 px-5 py-3">
            <div id="category-1">
              <div class="relative z-0 w-full mb-10 group">
                <input
                  type="Text"
                  name="category-heading-1"
                  id="category-heading-1"
                  class="block py-2.5 px-0 w-full text-lg text-center text-gray-900 bg-transparent border-0 border-b-2 border-gray-600 appearance-none focus:outline-none focus:ring-0 focus:border-teal-500 peer"
                />
                <label
                  for="category-heading-1"
                  class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                  >Category Name</label
                >
              </div>

              <div class="grid grid-cols-2 md:gap-6">
                <div class="relative z-0 w-full sm:w-1/2 group">
                  <input
                    type="text"
                    name="item-1-1"
                    id="item-1-1"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 appearance-none border-gray-600 focus:outline-none focus:ring-0 focus:border-teal-500 peer"
                    required
                  />
                  <label
                    for="item-1-1"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                    >Item name</label
                  >
                </div>
                <div class="relative z-0 w-full sm:w-1/2 group">
                  <input
                    type="number"
                    name="price-1-1"
                    id="price-1-1"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 appearance-none border-gray-600 focus:outline-none focus:ring-0 focus:border-teal-500 peer"
                    required
                  />
                  <label
                    for="price-1-1"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-teal-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                    >price</label
                  >
                </div>
              </div>
            </div>

            <button
              type="button"
              id="1"
              onclick="addItem(this)"
              class="text-white mt-6 bg-teal-500 hover:bg-teal-700 focus:ring-4 focus:outline-none font-medium rounded-full text-sm w-full sm:w-auto px-5 py-2.5 text-center focus:ring-blue-800"
            >
              Add Item
            </button>
          </div>
        </div>
        <div
          id="addCategoryBtn"
          class="flex rounded-full justify-center h-20   mx-auto mt-1 px-5 py-1"
        >
          <img onclick="addCategory()" src="../add.png" class="hover:cursor-pointer opacity-80 hover:opacity-100" alt="" srcset="" />
        </div>

        <button
          type="submit"
          class="text-white mb-10 bg-gray-950 hover:bg-teal-500 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center focus:ring-blue-800"
        >
          Submit
        </button>
      </form>
    </div>

    <script src="../new-menu.js"></script>
  </body>
</html>
