<div
  id="addCategoryBtn"
  onclick="addCategory()"
  class="flex rounded-full justify-center h-20 opacity-80 
            hover:opacity-100 mx-auto mt-1 px-5 py-1"
>
  <img src="../add.png" class="hover:cursor-pointer" alt="" srcset="" />
</div>
