<div class="mb-10 mt-20  border-2 rounded-md border-gray-400 px-5 py-3">
    <label
    class="block mb-2 hover:text-red-600 text-sm font-medium text-gray-900 "
    for="large_size"
    >Upload image</label
    >
    <input
      class="block w-full mt-6 hover:text-red-600 active:hover:text-red-600 text-lg text-gray-900 border-2 border-gray-500 pl-0 rounded-lg cursor-pointer bg-gray-50  focus:outline-none hover:cursor-pointer"
      id="image"
      name="image"
      type="file"
      required
    />
    <p class="mt-1 text-sm text-gray-500 hover:text-red-600" id="file_input_help">SVG, PNG or JPG(MAX. 800x400px).</p>

  </div>